<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leaveapp</servlet-name>
        <servlet-class>Leaveapp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requirements</servlet-name>
        <servlet-class>requirements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leavereport</servlet-name>
        <servlet-class>Leavereport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sucess</servlet-name>
        <servlet-class>sucess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requirementreport</servlet-name>
        <servlet-class>requirementreport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leaveapp</servlet-name>
        <url-pattern>/Leaveapp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requirements</servlet-name>
        <url-pattern>/requirements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leavereport</servlet-name>
        <url-pattern>/Leavereport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sucess</servlet-name>
        <url-pattern>/sucess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requirementreport</servlet-name>
        <url-pattern>/requirementreport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
